ol.breadcrumb
	li
		a(href="/" + data[0].url)= data[0].code
	li
		a(href="/" + data[0].localities.url)= data[0].localities.code
	li.active
		a(href="/" + data[0].localities.sites.url)= data[0].localities.sites.code

h1
	| Exhibits in 
	= data[0].localities.sites.code + ", " + data[0].localities.code + " (" + data[0].code + ")"

div.list-group
	for exhibit in data[0].localities.sites.exhibits
		a.list-group-item(href="/" + exhibit.url)= exhibit.code