{{#data}}
<h1>Items in {{ localities.sites.code }} {{ localities.code }}, {{ code }}</h1>	

<ol class="breadcrumb">
	<li><a href="/{{ url }}" data-bind="attr: { href:'#{{ url }} }'">{{ code }}</a></li>
	<li><a href="/{{ localities.url }}" data-bind="attr: { href:'#{{ localities.url }} }'">{{ localities.code }}</a></li>
	<li class="active"><a href="/{{ localities.sites.url }}" data-bind="attr: { href:'#{{ localities.sites.url }} }'">{{ localities.sites.code }}</a></li>	
</ol>

<ul>
	{{ #localities.sites.exhibits }}
	<li><a href="/{{ url }}" data-bind="attr: { href:'#{{ url }} }'">{{ code }}</a></li>
	{{ /localities.sites.exhibits }}
	
	{{ ^localities.sites.exhibits }}
	No exhibits in this site
	{{ /localities.sites.exhibits }}
</ul>
{{ /data }}
{{ ^data }}
No data for this site
{{ /data }}