ol.breadcrumb
	li.active
		a(href="/" + data[0].url)= data[0].code

h1
	| Locations in 
	= data[0].code

div.list-group
	for location in data[0].localities
		a.list-group-item(href="/" + location.url)= location.code