{{#data}}
<h1>locations in {{ code }}</h1>	

<ol class="breadcrumb">
	<li class="active"><a href="/{{ url }}" data-bind="attr: { href:'#{{ url }} }'">{{ code }}</a></li>
</ol>

<ul>
	{{ #localities }}
	<li><a href="/{{ url }}" data-bind="attr: { href:'#{{ url }} }'">{{ code }}</a></li>
	{{ /localities }}
	
	{{ ^localities }}
	No localities
	{{ /localities }}
</ul>
{{ /data }}
</ul>
{{ ^data }}
No data for this country
{{ /data }}