ol.breadcrumb
	li
		a(href="/") Home

	li.active
		a(href="/" + data.url)= data.meta.title

h1
	| Locations in 
	= data.meta.title

div= data.content

div.list-group
	for location in data.children
		a.list-group-item(href="/" + location.url)= location.meta.title