div.list-group
	a.list-group-item(href="#{ globals.baseUrl }/en") English
	a.list-group-item(href="#{ globals.baseUrl }/it") Italiano
	a.list-group-item(href="#{ globals.baseUrl }/fr") Français
	a.list-group-item(href="#{ globals.baseUrl }/de") Deutsch