extends ./layout

block content
	ol.breadcrumb
		li
			a(href="/" + data[0].url)= data[0].code
		li.active
			a(href="/" + data[0].localities.url)= data[0].localities.code

	h1
		| sites in 
		= data[0].localities.code + ", " + data[0].code

	ul
		for site in data[0].localities.sites
			li
				a(href="/" + site.url)= site.code