ol.breadcrumb
	li
		a(href="/") Home

	li
		a(href="/" + data.country.url)= data.country.label

	li.active
		a(href="/" + data.url)= data.meta.title

h1
	| sites in 
	= data.meta.title

div= data.content

div.list-group
	for child in data.children
		a.list-group-item(href="/" + child.url)= child.meta.title