ol.breadcrumb
	li
		a(href="/" + data[0].url)= data[0].code
	li.active
		a(href="/" + data[0].localities.url)= data[0].localities.code

h1
	| sites in 
	= data[0].localities.code + ", " + data[0].code

div.list-group
	for site in data[0].localities.sites
		a.list-group-item(href="/" + site.url)= site.code