# Derived from http://stackoverflow.com/questions/5009324/node-js-nginx-and-now
# The address for the node service.
upstream app_catalogue {
    server 127.0.0.1:8080;
}

# the nginx server instance
server {
    listen 0.0.0.0:80;
    server_name tbd.org tbd;
    access_log logs/tbd.log;

    # pass the request to the node.js server with the correct headers and much more can be added, see nginx config options
    # To do: Add cache directives
    location / {

        # Remove trailing slashes
        rewrite ^/(.*)/$ /$1 permanent;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-NginX-Proxy true;

        proxy_pass http://app_catalogue/;
        proxy_redirect off;
    }

    # If the request is not for / (language selector) and does not have a language parameter, determine a language parameter
    # and add it in. Default to "en". Allow "about" and "contact" if they are prefixed.
    location ~ "^/([a-z]{2})/([a-z]{3})(?!ut|tact)(.*)" {
        set $first_language $http_accept_language;
        
        if ($http_accept_language ~* '^(.+?),') {
            set $first_language $1;
        }

        set $language_prefix 'en';
        
        if ($first_language ~* 'it') {
            set $language_prefix 'it';
        }

        if ($first_language ~* 'de') {
            set $language_prefix 'de';
        }

        if ($first_language ~* 'fr') {
            set $language_prefix 'fr';
        }

        return 302 http://www.tbd.org/$language_prefix$request_uri;
    }

    # Redirect unprefixed "about" and "contact".
    location ~ "^/(about|contact)" {
        set $first_language $http_accept_language;
        
        if ($http_accept_language ~* '^(.+?),') {
            set $first_language $1;
        }

        set $language_prefix 'en';
        
        if ($first_language ~* 'it') {
            set $language_prefix 'it';
        }

        if ($first_language ~* 'de') {
            set $language_prefix 'de';
        }

        if ($first_language ~* 'fr') {
            set $language_prefix 'fr';
        }

        return 302 http://www.tbd.org/$language_prefix$request_uri;
    }

    # Asset requests will be handled directly by nginx.
    # To do: Add cache directives
    location /assets {
        root html/tbd;
    }
}